h1 {
  font-size: 36px;
}

.App {
  text-align: center;
  margin: auto;
  width: 650px;
}

.App a {
  color: rgb(38, 128, 156);
  font-weight: bold;
  cursor: pointer;
}

#question_icon {
  max-width: 75px;
}

#important_note {
  background: white;
  padding: 30px 48px;
  margin: 24px 0;
}

#important_note h2 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.75px;
  line-height: 28px;
  text-align: center;
}

#important_note p {
  height: 48px;
  width: 397px;
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-align: center;
  margin: auto;
}

#file_upload {
  margin: 48px 0 12px;
  cursor: pointer;
}

#file_upload h2 {
  height: 24px;
  width: 108px;
  color: #333333;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 24px;
}

#file_upload p {
  box-sizing: border-box;
  height: 124px;
  width: 631px;
  border: 1px solid #979797;
  opacity: 0.56;

  color: #333333;
  font-family: Roboto;
  font-size: 21px;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#file_upload a {
  margin-right: 6px;
  color: #53bad3;
}

button {
  cursor: pointer;
  height: 56px;
  width: 178px;
  background-color: #53bad3;
  border: none;
}

button span {
  height: 24px;
  width: 70px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 24px;
  text-align: center;
}

#hidden_file_input {
  width: 0px;
}

#button_container {
  width: 100%;
  text-align: right;
}

button:disabled {
  background: #dddddd;
  cursor: pointer;
}

.spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 70px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #53bad3;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.spinner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#success_container {
  width: 630px;
  margin-top: 48px;
  background-color: white;
  height: 150px;
}

#success_container p {
  margin-top: 24px;
}

#success_container #title {
  background-color: #20c48b;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.02);
  display: flex;
  height: 55px;

  display: flex;
  align-items: center;
  text-align: left;
  color: #ffffff;
  padding-left: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 33px;
}
